## LLM / Agents
langchain-community>=0.0.20
langchain-groq
langchain_huggingface
langgraph
pypdf>=3.17.0
qdrant-client==1.12.1

## Data Processing & Utilities
python-dotenv>=1.0.1          

             

## Progress & Logging
tqdm>=4.67.1                  
loguru>=0.7.3           

## API / Frontend
fastapi
streamlit

